.big-img {
  width: 100px;
  float: right;
  margin: 0;
  padding: 0;
}
.cit {
  font-family: "Pacifico", cursive;
  font-size: 70px;
  text-align: center;
  color: teal;
}
.conditions {
  text-decoration: underline;
  text-align: right;
  font-size: 17px;
}
.description {
  float: right;
  display: inline;
  font-size: 17px;
  text-transform: capitalize;
}
.daily-img {
  width: 75px;
}
.date {
  display: inline;
  font-size: 20px;
  margin-left: 13px;
  font-family: "Courier New", Courier, monospace;
}
.humidity {
  bottom: 6px;
}
.list-day {
  width: 645px;
}
.weather-forecast-date {
  font-size: 18px;
  color: rgb(54, 53, 53);
  width: 640px;
}
.wrapper {
  margin-top: 20px;
  border-style: dotted;
  width: 650px;
}
.sam {
  font-family: "Homemade Apple", cursive;
}
.sunrise {
  display: inline-table;
  font-size: 17px;
}
.sunset {
  display: inline-table;
  font-size: 17px;
}
.temps {
  text-align: center;
  font-size: 86px;
  font-family: "Zen Kurenaido", sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}
img {
  width: 645px;
}
ul {
  list-style-type: none;
}
